
			
<head>
	<title>Main</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 {% load static %}
 <link href="{% static "css/main.css" %}" rel="stylesheet">

</head>

				<div class="col-md-4 col-sm-4">
					<img src="{% static "img/android-apkstore_logo.png" %}" width="60%" height="20%">
				</div>
				<div class="col-md-8 col-sm-8 col-xs-12">
					<img src="adbanner.jpg" class="adbanner">
				</div>
		
