<head>
        <title>Main</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 {% load static %}
 <link href="{% static "css/main.css" %}" rel="stylesheet">

</head>
                	

<div class="well table-responsive">
                		<h4>Similar Apps</h4>
                		<table>
                			<thead>
                				<tr>
                					<th>
                					    <div class="thumbright">
                						    <img src="candycrush.jpg">
                						    <p class="p4">Cand Crush saga candy abhimanyu singh</p>
                						    <p class="p5">abhimanyu singn rajput b.tech civil hindustan college of science and technology sharda group of institurions</p>
                						    <button class="btn btn-primary">Download</button>
                					    </div>
                					</th>
                					<th>
                						<div class="thumbright">
                						    <img src="candycrush.jpg">
                						    <p class="p4">Candy Crush</p>
                						    <p class="p5">abhimanyu singn rajput b.tech civil hindustan college of science and technology sharda group of institurions</p>
                						    <button class="btn btn-primary">Download</button>
                					    </div>
                					</th>
                					<th>
                						<div class="thumbright">
                						    <img src="candycrush.jpg">
                						    <p class="p4">Candy Crush</p>
                						    <p class="p5">abhimanyu singn rajput b.tech civil hindustan college of science and technology sharda group of institurions</p>
                						    <button class="btn btn-primary">Download</button>
                					    </div>
                					</th>
                					<th>
                						<div class="thumbright">
                						    <img src="candycrush.jpg">
                						    <p class="p4">Candy Crush</p>
                						    <p class="p5">abhimanyu singn rajput b.tech civil hindustan college of science and technology sharda group of institurions</p>
                						    <button class="btn btn-primary">Download</button>
                					    </div>
                					</th>
                					<th>
                						<div class="thumbright">
                						    <img src="candycrush.jpg">
                						    <p class="p4">Candy Crush</p>
                						    <p class="p5">abhimanyu singn rajput b.tech civil hindustan college of science and technology sharda group of institurions</p>
                						    <button class="btn btn-primary">Download</button>
                					    </div>
                					</th>
                				</tr>
                			</thead>
                		</table>
                	</div>
