<head>
        <title>Main</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 {% load static %}
 <link href="{% static "css/main.css" %}" rel="stylesheet">

</head>


					<div class="well wellpadding_category">
						<div class="titleleft">Category</div><br>
					</div>
					<div class="well wellpadding">

		    <!-- App 1-->				

						<div class="row">
							<div class="col-md-4 col-sm-4 thumbright">
								<img src="{% static "img/candycrush.jpg" %}">
								<button type="button" class="btn btn-primary right_download_btn">Download</button>
							</div>
							<div class="col-md-8 col-sm-8">
								<p class="p1">Racing In Car 2 hi this is</p>
								<p class="p2">Developer Name</p>
								<p class="p3">abhimanyu singn rajput b.tech civil hindustan college of science and technology sharda group of institurions</p><br>
								<!--button type="button" class="btn btn-primary right_download_btn">Download</button-->
								<div class="star">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
							</div>
						</div>
						<hr>


		    <!-- App 2-->	
				
				        <div class="row">
							<div class="col-md-4 col-sm-4 thumbright">
								<img src="{% static "img/candycrush.jpg" %}">
								<button type="button" class="btn btn-primary right_download_btn">Download</button>
							</div>
							<div class="col-md-8 col-sm-8">
								<p class="p1">Racing In Car 2 hi this is</p>
								<p class="p2">Developer Name</p>
								<p class="p3">abhimanyu singn rajput b.tech civil hindustan college of science and technology sharda group of institurions</p><br>
								<!--button type="button" class="btn btn-primary right_download_btn">Download</button-->
								<div class="star">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
							</div>
						</div>
						<hr>

		    <!-- App 3-->	
		
		                <div class="row">
							<div class="col-md-4 col-sm-4 thumbright">
								<img src="{% static "img/candycrush.jpg" %}">
								<button type="button" class="btn btn-primary right_download_btn">Download</button>
							</div>
							<div class="col-md-8 col-sm-8">
								<p class="p1">Racing In Car 2 hi this is</p>
								<p class="p2">Developer Name</p>
								<p class="p3">abhimanyu singn rajput b.tech civil hindustan college of science and technology sharda group of institurions</p><br>
								<!--button type="button" class="btn btn-primary right_download_btn">Download</button-->
								<div class="star">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
							</div>
						</div>
						<hr>

		    <!-- App 4 -->		
								
		                <div class="row">
							<div class="col-md-4 col-sm-4 thumbright">
								<img src="{% static "img/candycrush.jpg" %}">
								<button type="button" class="btn btn-primary right_download_btn">Download</button>
							</div>
							<div class="col-md-8 col-sm-8">
								<p class="p1">Racing In Car 2 hi this is</p>
								<p class="p2">Developer Name</p>
								<p class="p3">abhimanyu singn rajput b.tech civil hindustan college of science and technology sharda group of institurions</p><br>
								<!--button type="button" class="btn btn-primary right_download_btn">Download</button-->
								<div class="star">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
							</div>
						</div>
						<hr>


					</div>

					<div class="well wellpadding3">

		    <!-- App 1-->				

						<div class="row">
							<div class="col-md-4 col-sm-4 thumbright">
								<img src="{% static "img/candycrush.jpg" %}">
								<button type="button" class="btn btn-primary right_download_btn">Download</button>
							</div>
							<div class="col-md-8 col-sm-8">
								<p class="p1">Racing In Car 2 hi this is</p>
								<p class="p2">Developer Name</p>
								<p class="p3">abhimanyu singn rajput b.tech civil hindustan college of science and technology sharda group of institurions</p><br>
								<!--button type="button" class="btn btn-primary right_download_btn">Download</button-->
								<div class="star">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
							</div>
						</div>
						<hr>


		    <!-- App 2-->	
				
				        <div class="row">
							<div class="col-md-4 col-sm-4 thumbright">
								<img src="{% static "img/candycrush.jpg" %}">
								<button type="button" class="btn btn-primary right_download_btn">Download</button>
							</div>
							<div class="col-md-8 col-sm-8">
								<p class="p1">Racing In Car 2 hi this is</p>
								<p class="p2">Developer Name</p>
								<p class="p3">abhimanyu singn rajput b.tech civil hindustan college of science and technology sharda group of institurions</p><br>
								<!--button type="button" class="btn btn-primary right_download_btn">Download</button-->
								<div class="star">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
							</div>
						</div>
						<hr>

		    <!-- App 3-->	
		
		                <div class="row">
							<div class="col-md-4 col-sm-4 thumbright">
								<img src="{% static "img/candycrush.jpg" %}">
								<button type="button" class="btn btn-primary right_download_btn">Download</button>
							</div>
							<div class="col-md-8 col-sm-8">
								<p class="p1">Racing In Car 2 hi this is</p>
								<p class="p2">Developer Name</p>
								<p class="p3">abhimanyu singn rajput b.tech civil hindustan college of science and technology sharda group of institurions</p><br>
								<!--button type="button" class="btn btn-primary right_download_btn">Download</button-->
								<div class="star">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
							</div>
						</div>
						<hr>

		    <!-- App 4 -->		
								
		                <div class="row">
							<div class="col-md-4 col-sm-4 thumbright">
								<img src="{% static "img/candycrush.jpg" %}">
								<button type="button" class="btn btn-primary right_download_btn">Download</button>
							</div>
							<div class="col-md-8 col-sm-8">
								<p class="p1">Racing In Car 2 hi this is</p>
								<p class="p2">Developer Name</p>
								<p class="p3">abhimanyu singn rajput b.tech civil hindustan college of science and technology sharda group of institurions</p><br>
								<!--button type="button" class="btn btn-primary right_download_btn">Download</button-->
								<div class="star">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</div>
							</div>
						</div>
						<hr>


					</div>
