<html>
<head>
     {% load static %}
    <link href="{% static "css/teamworkpanelstyle.css" %}" rel="stylesheet">
</head>
<body>
{% include "apkstore/teamworkheader.html" %}
<center>
<h2>Add Articals</h2>
    <div class="container">
    <form action="#" method="POST" enctype="multipart/form-data">{% csrf_token %}

        <div class="row">
        <div class="col-25">
	<label for="fname"> Title : </label>
	</div>
	<div class="col-75">
	<input type="text" id="fname" name="title" required=""><br>
	</div>
	</div>
	<div class="row">
        <div class="col-25">
        <label for="fname">Image Link: </label>
        </div>
        <div class="col-75">
        <input type="text" id="fname" name="image_link" required=""><br>
        </div>
	</div>
	<div class="row">
        <div class="col-25">
        <label for="fname"> Description : </label>
        </div>
        <div class="col-75">
	<textarea rows="6" cols="60" name="desc">
	</textarea>
        </div>
	</div>
	<div class="row">
        <div class="col-25">
        <label for="fname">Meta Description : </label>
        </div>
        <div class="col-75">
        <input type="text" id="fname" name="meta_desc" required=""><br>
        </div>

	</div>
        <div class="row">
        <div class="col-25">
        <label for="fname">Meta keyword : </label>
        </div>
        <div class="col-75">
        <input type="text" id="fname" name="meta_key_desc" required=""><br>
        </div>

        </div>


	<div class="row">
        <div class="col-75">
	<input type="submit" value="Save">
	<input type="reset" value="Reset">
        </div>
        </div>
    </form>
    </div>
<br>
<b>{{ msg }}</b>
<br>
</center>
</body>
</html>
