<head>
        <title>Main</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="main.css">
</head>


<div class="describe-img">
                                                <div id="slide_box">
                                                        <div class="det-pic-out">
                                                                <ul>
                                                                        <li>
                                                                        {% for i in apkdetails %}
                                                                                {% if i.img_url_2 %}
                                                                                <img src={{i.img_url_2}}>
                                                                                {% endif %}
                                                                                {%if i.img_url_2 %}
                                                                                <img src={{i.img_url_2}}>
                                                                                {%endif%}
                                                                                {%if i.img_url_3 %}
                                                                                <img src={{i.img_url_3}}>
                                                                                {%endif%}
                                                                                {%if i.img_url_4 %}
                                                                                <img src={{i.img_url_4}}>
                                                                                {%endif%}
                                                                                {%if i.img_url_5 %}
                                                                                <img src={{i.img_url_5}}>
                                                                                {%endif%}
                                                                        {% endfor %}

                                                                                <!--<img src="candy_crush\a1.jpg">
                                                                                <img src="candy_crush\a2.jpg">
                                                                                <img src="candy_crush\a3.jpg">                                                  
                                                                                <img src="candy_crush\a4.jpg">
                                                                                <img src="candy_crush\a5.jpg">  -->
                                                                        </li>
                                                                </ul>
                                                        </div>
                                                </div>
                                        </div>

