

<head>
        <title>ALP1</title>
{% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static "alp1.css" %}">
</head>




					<div class="well wellpadding_tab">
						<div>
							<h5 class="post_title">Title of 1st Article 1st row so we see this is title and this is title so this is title of blog post</h5>
							<img src="blog.jpg" class="img-responsive"><br>
							<p class="text-justify post_description">
								This is the description of blog post. This is an important part because it wwill increase our genuine content hence we need this block and its is very necessary. So i have to make this block and oits would be quite useful for search engine optimization.
							</p>
							<p class="text-right read_more"><a href="#">Read More</a></p>
						</div>
					</div>

					<div class="well wellpadding_tab">
						<div>
							<h5 class="post_title">Title of 1st Article 1st row so we see this is title and this is title so this is title of blog post</h5>
							<img src="blog.jpg" class="img-responsive"><br>
							<p class="text-justify post_description">
								This is the description of blog post. This is an important part because it wwill increase our genuine content hence we need this block and its is very necessary. So i have to make this block and oits would be quite useful for search engine optimization.
							</p>
							<p class="text-right read_more"><a href="#">Read More</a></p>
						</div>
					</div>

					<div class="well wellpadding_tab">
						<div>
							<h5 class="post_title">Title of 1st Article 1st row so we see this is title and this is title so this is title of blog post</h5>
							<img src="blog.jpg" class="img-responsive"><br>
							<p class="text-justify post_description">
								This is the description of blog post. This is an important part because it wwill increase our genuine content hence we need this block and its is very necessary. So i have to make this block and oits would be quite useful for search engine optimization.
							</p>
							<p class="text-right read_more"><a href="#">Read More</a></p>
						</div>
					</div>

										<div class="well wellpadding_tab">
						<div>
							<h5 class="post_title">Title of 1st Article 1st row so we see this is title and this is title so this is title of blog post</h5>
							<img src="blog.jpg" class="img-responsive"><br>
							<p class="text-justify post_description">
								This is the description of blog post. This is an important part because it wwill increase our genuine content hence we need this block and its is very necessary. So i have to make this block and oits would be quite useful for search engine optimization.
							</p>
							<p class="text-right read_more"><a href="#">Read More</a></p>
						</div>
					</div>

					<div class="well wellpadding_tab">
						<div>
							<h5 class="post_title">Title of 1st Article 1st row so we see this is title and this is title so this is title of blog post</h5>
							<img src="blog.jpg" class="img-responsive"><br>
							<p class="text-justify post_description">
								This is the description of blog post. This is an important part because it wwill increase our genuine content hence we need this block and its is very necessary. So i have to make this block and oits would be quite useful for search engine optimization.
							</p>
							<p class="text-right read_more"><a href="#">Read More</a></p>
						</div>
					</div>

					<div class="well wellpadding_tab">
						<div>
							<h5 class="post_title">Title of 1st Article 1st row so we see this is title and this is title so this is title of blog post</h5>
							<img src="blog.jpg" class="img-responsive"><br>
							<p class="text-justify post_description">
								This is the description of blog post. This is an important part because it wwill increase our genuine content hence we need this block and its is very necessary. So i have to make this block and oits would be quite useful for search engine optimization.
							</p>
							<p class="text-right read_more"><a href="#">Read More</a></p>
						</div>
					</div>

					<div class="well wellpadding_tab">
						<div>
							<h5 class="post_title">Title of 1st Article 1st row so we see this is title and this is title so this is title of blog post</h5>
							<img src="blog.jpg" class="img-responsive"><br>
							<p class="text-justify post_description">
								This is the description of blog post. This is an important part because it wwill increase our genuine content hence we need this block and its is very necessary. So i have to make this block and oits would be quite useful for search engine optimization.
							</p>
							<p class="text-right read_more"><a href="#">Read More</a></p>
						</div>
					</div>

					<div class="well wellpadding_tab">
						<div>
							<h5 class="post_title">Title of 1st Article 1st row so we see this is title and this is title so this is title of blog post</h5>
							<img src="blog.jpg" class="img-responsive"><br>
							<p class="text-justify post_description">
								This is the description of blog post. This is an important part because it wwill increase our genuine content hence we need this block and its is very necessary. So i have to make this block and oits would be quite useful for search engine optimization.
							</p>
							<p class="text-right read_more"><a href="#">Read More</a></p>
						</div>
					</div>

					<div class="well wellpadding_tab">
						<div>
							<h5 class="post_title">Title of 1st Article 1st row so we see this is title and this is title so this is title of blog post</h5>
							<img src="blog.jpg" class="img-responsive"><br>
							<p class="text-justify post_description">
								This is the description of blog post. This is an important part because it wwill increase our genuine content hence we need this block and its is very necessary. So i have to make this block and oits would be quite useful for search engine optimization.
							</p>
							<p class="text-right read_more"><a href="#">Read More</a></p>
						</div>
					</div>
