<head>
        <title>ALP1</title>
{% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static "alp1.css" %}">

</head>




					<div class="well wellpadding_leftbar">
						<div class="left_title">Category</div><br>
					</div>

        <!-- Games -->

					<div class="well wellpadding_leftbar">
						<div>
							<p class="leftmenu_title"><a href="/alp_new"><img src="{%static "img/icon.png" %}" style="width: 25px; height: 25px;">Games</a></p>
						</div>
						<hr>

						<div class="row category_list">

							<div class="col-md-6">

								  <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/games/Action.jpg" %}" class="icon">Action</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/games/Arcade.jpg" %}" class="icon">Arcade</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/games/Card.jpg" %}" class="icon">Card</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/games/Casino.jpg" %}" class="icon">Casual</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/games/Music.jpg" %}" class="icon">Music</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/games/Racing.jpg" %}" class="icon">Racing</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/games/Simulation.jpg" %}" class="icon">Simulation</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/games/Strategy.jpg" %}" class="icon">Strategy</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/games/Word.jpg" %}" class="icon">Word</a></p>
                                                                </div>

							</div>

							<div class="col-md-6">

								    <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/games/Adventure.jpg" %}" class="icon">Adventure</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/games/Board.jpg" %}" class="icon">Board</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/games/Casino.jpg" %}" class="icon">Casino</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/games/Educational.jpg" %}" class="icon">Educational</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/games/Puzzle.jpg" %} "class="icon">Puzzle</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/games/Role-Playing.jpg" %}" class="icon">Role Playing</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/games/Sports.jpg" %}" class="icon">Sports</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/games/trivia.jpg" %}" class="icon">IQ - GK</a></p>
                                                                </div>

							</div>

							
						</div>

					</div>

		<!-- Apps -->			

					<div class="well wellpadding_leftbar">

						<div>
							<p class="leftmenu_title"><a href="#"><img src="{% static "img/icon.png" %}" style="width: 25px; height: 25px;">Apps</a></p>
						</div>
						<hr>

						<div class="row category_list">

							<div class="col-md-6">

							<div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Art-and-Design-Apps.jpg" %}" class="icon">Art n Design</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Automobiles-Apps.jpg"%}" class="icon">Automobile</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Beauty-Related-Apps.jpg"%}" class="icon">Beauty Apps</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Books-and-Reference-Apps.jpg"%}" class="icon">Books Apps</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Business-Utility-Apps.jpg"%}" class="icon">Business Utility</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Comics-and-Characters-Apps.jpg"%}" class="icon">Comics Apps</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Communication-Apps.jpg"%}" class="icon">Communication</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Dating-Apps.jpg"%}" class="icon">Dating Apps</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Demo-and-Uncategorized-Apps.jpg"%}" class="icon">Demo Apps</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Education-Apps.jpg"%}" class="icon">Education</a></p>
                                                                </div>

								   <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Entertainment-Apps.jpg"%}" class="icon">Entertainment</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Event-Related-Apps.jpg"%}" class="icon">Event Related</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Finance-and-Money-Apps.jpg"%}" class="icon">Finance n Money</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Food-and-Drink-Apps.jpg"%}" class="icon">Food N Drink</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Health-and-Fitness-Apps.jpg"%}" class="icon">Health n Fitness</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/House-and-Home-Apps.jpg"%}" class="icon">House n Home</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Maps-and-Navigation-Apps.jpg"%}" class="icon">Maps Navigation</a></p>
                                                                </div>



							</div>

							<div class="col-md-6 col_left2">

							 <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Medical-Apps.jpg"%}" class="icon">Medical</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Music-and-Audio-Apps.jpg"%}" class="icon">Music n Audio</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/News-and-Magazines-Apps.jpg"%}" class="icon">News Magazine</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Parents-and-Family-Apps.jpg"%}" class="icon">Parents n Family</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Personal-For-You-Apps.jpg"%}" class="icon">Personal For U</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Photography-Apps.jpg"%}" class="icon">Photography</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Productivity-Analysis-Apps.jpg"%}" class="icon">Productivity Analysis</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Shopping-Apps.jpg"%}" class="icon">Shopping</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Smart-Wear-Apps.jpg"%}" class="icon">Smart Wear</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Social-and-Friends-Apps.jpg"%}" class="icon">Social n Friends</a></p>
                                                                </div>

							  <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Sports-and-Game-Apps.jpg"%}" class="icon">Sports n Games</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Tools-and-Utility-Apps.jpg"%}" class="icon">Tools n Utility</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Travel-and-Local-Apps.jpg"%}" class="icon">Travel n Local</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Video-Players-and-Editors-Apps.jpg"%}" class="icon">Video Player</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/VR-Compatible-Apps.jpg"%}" class="icon">VR Apps</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Way-of-Living-Apps.jpg"%}" class="icon">Way Of Living</a></p>
                                                                </div>

                                                                <div><p class="leftmenu_items"><a href="#"><img src="{% static "img/icons/apps/Weather-and-Climate-Apps.jpg"%}" class="icon">Weather n Climate</a></p>
                                                                </div>

							</div>
						</div>

					</div>

		<!-- Article-->			

					<div class="well wellpadding_leftbar">
						<h5 class="post_title">Title of 1st Article 1st row so we see this is title and this is title so this is title of blog post</h5>
						<img src="{% static "img/blog.jpg"%}" class="img-responsive"><br>
						<p class="text-justify post_description">
							This is the description of blog post. This is an important part because it wwill increase our genuine content hence we need this block and its is very necessary. So i have to make this block and oits would be quite useful for search engine optimization.
						</p>
						<p><a href="/blog">Read More</a></p>
					</div>

					<div class="well wellpadding_leftbar">
						<h5 class="post_title">Title of 1st Article 1st row so we see this is title and this is title so this is title of blog post</h5>
						<img src="{% static "img/blog.jpg" %}" class="img-responsive"><br>
						<p class="text-justify post_description">
							This is the description of blog post. This is an important part because it wwill increase our genuine content hence we need this block and its is very necessary. So i have to make this block and oits would be quite useful for search engine optimization.
						</p>
						<p><a href="/blog">Read More</a></p>

					</div>
