	
				<head>
	<title>ADP1</title>
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="{% static "css/home.css" %}" rel="stylesheet">
</head>
					<div class="well wellpadding_rightbar">
					

		<div class="right_title">Latest In Android</div><br>
					</div>

        <!-- Games Categories -->

				<!--	<div class="well wellpadding_rightbar hidden-xs hidden-sm hidden-md hidden-lg">
						<div>
							<p class="rightmenu_title"><a href="#"><img src="icon.png" style="width: 25px; height: 25px;">Games</a></p>
						</div>
						<hr>

						<div class="row category_list">

							<div class="col-md-6">

								<div><p class="rightmenu_items"><a href="#"><img src="icons/games/Action.jpg" class="icon">Action</a></p>
								</div>
								
								<div><p class="rightmenu_items"><a href="#"><img src="icons/games/Arcade.jpg" class="icon">Arcade</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/games/card.jpg" class="icon">Card</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/games/Casual.jpg" class="icon">Casual</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/games/Music.jpg" class="icon">Music</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/games/Racing.jpg" class="icon">Racing</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/games/Simulation.jpg" class="icon">Simulation</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/games/Strategy.jpg" class="icon">Strategy</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/games/Word.jpg" class="icon">Word</a></p>
								</div>

							</div>

							<div class="col-md-6">

								<div><p class="rightmenu_items"><a href="#"><img src="icons/games/Adventure.jpg" class="icon">Adventure</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/games/Board.jpg" class="icon">Board</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/games/Casino.jpg" class="icon">Casino</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/games/Educational.jpg" class="icon">Educational</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/games/Puzzle.jpg" class="icon">Puzzle</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/games/Role-Playing.jpg" class="icon">Role Playing</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/games/Sports.jpg" class="icon">Sports</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/games/Trivia.jpg" class="icon">IQ - GK</a></p>
								</div>

							</div>

							
						</div>

					</div>  -->

		<!-- Apps Categories -->			

					<!--div class="well wellpadding_rightbar hidden-xs hidden-sm hidden-md hidden-lg">

						<div>
							<p class="rightmenu_title"><a href="#"><img src="icon.png" style="width: 25px; height: 25px;">Apps</a></p>
						</div>
						<hr>

						<div class="row category_list">

							<div class="col-md-6">

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/art-and-design-apps.jpg" class="icon">Art n Design</a></p>
								</div>
								
								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/automobiles-apps.jpg" class="icon">Automobile</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/beauty-related-apps.jpg" class="icon">Beauty Apps</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/books-and-reference-apps.jpg" class="icon">Books Apps</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/business-utility-apps.jpg" class="icon">Business Utility</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/comics-and-characters-apps.jpg" class="icon">Comics Apps</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/communication-apps.jpg" class="icon">Communication</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/dating-apps.jpg" class="icon">Dating Apps</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/demo-and-uncategorized-apps.jpg" class="icon">Demo Apps</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/education-apps.jpg" class="icon">Education</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/entertainment-apps.jpg" class="icon">Entertainment</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/event-related-apps.jpg" class="icon">Event Related</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/finance-and-money-apps.jpg" class="icon">Finance n Money</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/food-and-drink-apps.jpg" class="icon">Food N Drink</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/health-and-fitness-apps.jpg" class="icon">Health n Fitness</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/house-and-home-apps.jpg" class="icon">House n Home</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/maps-and-navigation-apps.jpg" class="icon">Maps Navigation</a></p>
								</div>



							</div>

							<div class="col-md-6 col_left2">

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/medical-apps.jpg" class="icon">Medical</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/music-and-audio-apps.jpg" class="icon">Music n Audio</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/news-and-magazines-apps.jpg" class="icon">News Magazine</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/parents-and-family-apps.jpg" class="icon">Parents n Family</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/personal-for-you-apps.jpg" class="icon">Personal For U</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/photography-apps.jpg" class="icon">Photography</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/productivity-analysis-apps.jpg" class="icon">Productivity Analysis</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/shopping-apps.jpg" class="icon">Shopping</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/smart-wear-apps.jpg" class="icon">Smart Wear</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/social-and-friends-apps.jpg" class="icon">Social n Friends</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/sports-and-game-apps.jpg" class="icon">Sports n Games</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/tools-and-utility-apps.jpg" class="icon">Tools n Utility</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/travel-and-local-apps.jpg" class="icon">Travel n Local</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/Video-Players-and-Editors-Apps.jpg" class="icon">Video Player</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/vr-compatible-apps.jpg" class="icon">VR Apps</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/way-of-living-apps.jpg" class="icon">Way Of Living</a></p>
								</div>

								<div><p class="rightmenu_items"><a href="#"><img src="icons/apps/weather-and-climate-apps.jpg" class="icon">Weather n Climate</a></p>
								</div>

							</div>
						</div>

					</div-->

		<!-- Article-->			
					{% for i in article %}
					<div id="{{i.div_id}}"> <!-- started id ts1 -->
						<div class="well wellpadding_rightbar">
							<h5 class="post_title">{{i.title}}</h5>
							<img src={{i.image_link}} class="img-responsive"><br>
							<p class="text-justify post_description">
								{{i.desc_short | safe}}
							</p>
							<p><a href="/blog?get_id={{i.blog_url}}">Read More</a></p>
						</div>
					</div>
						{% endfor %}
				<!--
					<div id="ts3">
						<div class="well wellpadding_rightbar">
							<h5 class="post_title">Title of 1st Article 1st row so we see this is title and this is title so this is title of blog post</h5>
							<img src="{% static "img/blog.jpg" %}" class="img-responsive"><br>
							<p class="text-justify post_description">
								This is the description of blog post. This is an important part because it wwill increase our genuine content hence we need this block and its is very necessary. So i have to make this block and oits would be quite useful for search engine optimization.
							</p>
							<p><a href="#">Read More</a></p>
						</div>
					</div>

					<div id="ts5">
						<div class="well wellpadding_rightbar">
							<h5 class="post_title">Title of 1st Article 1st row so we see this is title and this is title so this is title of blog post</h5>
							<img src="{% static "img/blog.jpg" %}" class="img-responsive"><br>
							<p class="text-justify post_description">
								This is the description of blog post. This is an important part because it wwill increase our genuine content hence we need this block and its is very necessary. So i have to make this block and oits would be quite useful for search engine optimization.
							</p>
							<p> <a href="#">Read More</a></p>
						</div>
					</div>
				-->
