				
	
				<head>
	<title>ADP1</title>
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="{% static "css/home.css" %}" rel="stylesheet">
</head>
				<div class="row">
				<!--
					<div class="col-md-3 col-sm-3 hidden-xs">
						<h3>Top Android Apps</h3>
						<a href="#">Game ab</a><br>
						<a href="#">Game 1</a><br>
						<a href="#">Game 1</a><br>
						<a href="#">Game 1</a><br>
						<a href="#">Game 1</a><br>
						<a href="#">Game 1</a><br>
					</div>

					<div class="col-md-3 col-sm-3">
						<h3>Top For Mobile</h3>
						<a href="#">Game 1</a><br>
						<a href="#">Game 1</a><br>
						<a href="#">Game 1</a><br>
						<a href="#">Game 1</a><br>
						<a href="#">Game 1</a><br>
						<a href="#">Game 1</a><br>
					</div>

					<div class="col-md-3 col-sm-3 hidden-xs">
						<h3>Top Android Apps</h3>
						<a href="#">Game 1</a><br>
						<a href="#">Game 1</a><br>
						<a href="#">Game 1</a><br>
						<a href="#">Game 1</a><br>
						<a href="#">Game 1</a><br>
						<a href="#">Game 1</a><br>
					</div>

					<div class="col-md-3 col-sm-3 hidden-xs">
						<h3>Top Android Apps</h3>
						<a href="#">Game 1</a><br>
						<a href="#">Game 1</a><br>
						<a href="#">Game 1</a><br>
						<a href="#">Game 1</a><br>
						<a href="#">Game 1</a><br>
						<a href="#">Game 1</a><br>
					</div>
				-->
				</div>
				<br>
				<div class="row">
					<footer>
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-12">
									<p class="text-right">Copyright &copy;2018 by Android-ApkStore.Com</p>
									<p class="text-right"><b>Enquiry</b> : Please mail us : support@android-apkstore.com</p>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div>
										<a href="#"><i class="fa fa-behance-square fa-icon"></i></a>
										<a href="#"><i class="fa fa-linkedin-square fa-icon"></i></a>
										<a href="#"><i class="fa fa-twitter-square fa-icon"></i></a>
										<a href="#"><i class="fa fa-skype fa-icon"></i></a>
										<a href="#"><i class="fa fa-facebook-square fa-icon"></i></a>
										<a href="#"><i class="fa fa-github-square fa-icon"></i></a>
									</div>
								</div>
							</div>
					</footer>
				</div>
