                	
<head>
        <title>ADP1</title>
{% load static %}

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="{% static "css/adp1.css" %}" rel="stylesheet">
</head>

                        <div class="well scroll_padding">
                		<div class="table-responsive appbar ">
					{% for i in whatsapp_obj %}

                			<table>
                				<thead>
                					<tr>
                						<th>
                							<div class="thumbright">
                								<img src={{i.img_url_1}}>
                								<p class="p4">Cand Crush saga candy abhimanyu singh</p>
                								<div class="star">
                									<span class="fa fa-star checked"></span>
                									<span class="fa fa-star checked"></span>
                									<span class="fa fa-star checked"></span>
                									<span class="fa fa-star"></span>
                									<span class="fa fa-star"></span>
                								</div>
                								<p class="p5">App Size ofthe app</p>
                								<button class="btn btn-primary download_btn_mobile">Download</button>
                							</div>
                						</th>

                						<th>
                							<div class="thumbright">
                								<img src={{i.img_url_1}}>
                								<p class="p4">Cand Crush saga candy abhimanyu singh</p>
                								<div class="star">
                									<span class="fa fa-star checked"></span>
                									<span class="fa fa-star checked"></span>
                									<span class="fa fa-star checked"></span>
                									<span class="fa fa-star"></span>
                									<span class="fa fa-star"></span>
                								</div>
                								<p class="p5">App Size of the app</p>
                								<button class="btn btn-primary download_btn_mobile">Download</button>
                							</div>
                						</th>

                						<th>
                							<div class="thumbright">
                							<img src={{i.img_url_1}}>
                								<p class="p4">Cand Crush saga candy abhimanyu singh</p>
                								<div class="star">
                									<span class="fa fa-star checked"></span>
                									<span class="fa fa-star checked"></span>
                									<span class="fa fa-star checked"></span>
                									<span class="fa fa-star"></span>
                									<span class="fa fa-star"></span>
                								</div>
                								<p class="p5">App Size of the app</p>
                								<button class="btn btn-primary download_btn_mobile">Download</button>
                							</div>
                						</th>

                						<th>
                							<div class="thumbright">
                							<img src={{i.img_url_1}}>
                								<p class="p4">Cand Crush saga candy abhimanyu singh</p>
                								<div class="star">
                									<span class="fa fa-star checked"></span>
                									<span class="fa fa-star checked"></span>
                									<span class="fa fa-star checked"></span>
                									<span class="fa fa-star"></span>
                									<span class="fa fa-star"></span>
                								</div>
                								<p class="p5">App Size of the app</p>
                								<button class="btn btn-primary download_btn_mobile">Download</button>
                							</div>
                						</th>

                						<th>
                							<div class="thumbright">
                								<img src={{i.img_url_1}}>
                								<p class="p4">Cand Crush saga candy abhimanyu singh</p>
                								<div class="star">
                									<span class="fa fa-star checked"></span>
                									<span class="fa fa-star checked"></span>
                									<span class="fa fa-star checked"></span>
                									<span class="fa fa-star"></span>
                									<span class="fa fa-star"></span>
                								</div>
                								<p class="p5">App Size of the app</p>
                								<button class="btn btn-primary download_btn_mobile">Download</button>
                							</div>
                						</th>

                						<th>
                							<div class="thumbright">
                								<img src={{i.img_url_1}}>
                								<p class="p4">Cand Crush saga candy abhimanyu singh</p>
                								<div class="star">
                									<span class="fa fa-star checked"></span>
                									<span class="fa fa-star checked"></span>
                									<span class="fa fa-star checked"></span>
                									<span class="fa fa-star"></span>
                									<span class="fa fa-star"></span>
                								</div>
                								<p class="p5">App Size of the app</p>
                								<button class="btn btn-primary download_btn_mobile">Download</button>
                							</div>
                						</th>

                					</tr>
                				</thead>
                			</table>	
       				{% endfor %}
                		</div>

                	</div>
